<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">کدرهگیری</Data></Cell>
        <Cell><Data ss:Type="String">سقف مبلغ پرداختی</Data></Cell>
        <Cell><Data ss:Type="String">ایمیل فرد</Data></Cell>
        <Cell><Data ss:Type="String">عنوان پروژه</Data></Cell>
        <Cell><Data ss:Type="String">تاریخ</Data></Cell>
      </Row>
    <% @pay_limits.each do |pay_limit| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= pay_limit.tracking_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pay_limit.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pay_limit.partnership.email %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= pay_limit.project.title %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= pay_limit.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
