= form_for @pay_limit do |f|
  - if @pay_limit.errors.any?
    #error_explanation      
      %ul
        - @pay_limit.errors.each do |attr, msg|
          %li= msg
  
  
  
  .form-group.col-sm-5
    = f.label 'سایر توضیحات:', :class => "control-label"
    = f.text_area :description, :class => "form-control", :style => "resize:none"
  .form-group.col-sm-3
    = f.label 'سقف مبلغ پرداختی به ریال', :class => "control-label"
    = f.text_field :amount, :class => "form-control"
  -if @project.blank? 
    .form-group.col-sm-3        
      = f.select :project_id, options_for_select(@current_project.collect{ |u| [u.title, u.id] }), prompt: "پروژه مورد نظر خود را انتخاب کنید."
  - else
    = f.hidden_field :project_id, :value => @project_id
  .clear-float
  .form-group
    = f.hidden_field :partnership_id, :value => @partnership_id
    
  
  .col-sm-7
  .form-group.col-sm-5
    = f.submit 'ثبت', :class => "mainBtn"
