= form_for @pay_limit do |f|
  - if @pay_limit.errors.any?
    #error_explanation      
      %ul
        - @pay_limit.errors.each do |attr, msg|
          %li= msg
  
  .form-group
    = f.label 'سقف مبلغ پرداختی', :class => "control-label"
    = f.text_field :amount, :class => "form-control"
  .form-group
    = f.label 'سایر توضیحات:', :class => "control-label"
    = f.text_area :description, :class => "form-control"
  .form-group
   
    = f.hidden_field :user_id, :value => current_user.id
    
  .form-group
    = f.label 'انتخاب پروژه:', :class => "control-label"
    -if @project.present?
      = f.hidden_field :project_id, :value => @project.id
    - else
      = f.select :project_id, options_from_collection_for_select(@projects, "id","title"), { :include_blank=>true }
      
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
