= form_for @pay_limit do |f|
  - if @pay_limit.errors.any?
    #error_explanation      
      %ul
        - @pay_limit.errors.each do |attr, msg|
          %li= msg
  - if @pay_limit.present?
    .alert.alert-success= 'نتیجه ثبت شد.'
  .form-group
    .col-sm-8= f.label 'این درخواست را تایید می کنم.', :class => "control-label"
    .col-sm-2= f.check_box :accept  , :class => "form-control"
    .clear-float  
  .form-group
    = f.label 'سایر توضیحات:', :class => "control-label"
    = f.text_area :accept_description, :class => "form-control", :style => "resize:none"
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
    
