#tbox2
  .title 
    %h1 ویرایش اطلاعات درخواست مشارکت

  = form_for @pay_limit do |f|
    - if @pay_limit.errors.any?
      #error_explanation      
        %ul
          - @pay_limit.errors.each do |attr, msg|
            %li= msg
    
    .form-group
      = f.label 'سقف مبلغ پرداختی', :class => "control-label"
      = f.text_field :amount, :class => "text"
    .form-group
      = f.label 'سایر توضیحات:', :class => "control-label"
      = f.text_area :description, :class => "text"
    .form-group
      = f.label :user_id
      = f.number_field :user_id
      
    .form-group
      = f.label :project_id
      = f.number_field :project_id
    .form-group
      = f.submit 'ثبت', :class => "button btn-sm"

  = link_to 'مشاهده', @pay_limit
  \|
  = link_to 'بازگشت', pay_limits_path
