.width80.set-center.margin-top
  .tbox2
    .title 

      %h1= 'لیست در خواست مشارکت برای پروژه ها'
      
      = link_to 'چاپ جدول', '#', :id => "print-table" , :class => "save-btn"
      %div{:style => "margin:10px"}
        = link_to 'ایجاد درخواست مشارکت', new_pay_limit_path, :class => "save-btn"
    %br
    %table.table.table-striped{id:"pay_limit_table"}
      %thead
        %tr
          %th ردیف 
          %th کدرهگیری
          %th سقف پرداختی
          %th ایمیل کاربر
          %th پروژه       
          %th عملیات
      %tbody{:id => "pay_limit_container"}
        - @pay_limits.each_with_index do |pay_limit, i|
          %tr
            %td= (i+1) 
            %td= pay_limit.id
            %td= pay_limit.amount
            %td= link_to  pay_limit.user_id, current_user
            %td= pay_limit.project.title
            %td
              = link_to 'مشاهده جزئیات', pay_limit        
              \|
              = link_to 'حذف', pay_limit, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

    %br
    


  :coffeescript
    window.reloadDataTable = ->
      if !!window.oTable
        window.oTable.fnDestroy(); 
      window.oTable = $("#pay_limit_table").dataTable aoColumnDefs: [
        bSearchable: false
        aTargets: [0,5]
      ,  
        bSortable: false
        aTargets: [0,5]
      ],  oLanguage:
        sSearch: "جستجو:"
        sLengthMenu: "نمایش _MENU_ ردیف"
        sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
        sZeroRecords: "هیچ داده ای وجود ندارد"
        sInfoEmpty: "هیچ موردی یافت نشد"
        sInfoFiltered: " - از بین _MAX_ داده موجود"
        oPaginate:
          sPrevious: "صفحه قبلی"
          sNext: "صفحه بعدی"

    window.reloadDataTable()
  :javascript
    $('#print-table').click(function(){
      window.print();
    });
