.width80.set-center.margin-top
  .tbox2
    .title    
      - if @project.present?
        %h1= "فرم ثبت نام در پروژه" + " " + @project.title
      -else
        %h1= "فرم ثبت نام در پروژه"
    .col-sm-4
      .step
        %p= 'مرحله اول'
        %p= 'تکمیل اطلاعات شخصی'
      .step
        %p= 'مرحله دوم'
        %p= 'تکمیل اطلاعات مالی'
      .step
        %p= 'مرحله سوم'
        %p= 'دریافت کد رهگیری'
        
    .col-sm-8.pay-limit-steps
      #personal-info
        .title 
          %h2= 'فرم اطلاعات شخصی'
        
      #pay-info.width70.set-center
        .title 
          %h2= 'فرم اطلاعات مالی'
        .contact-form.width50
          = render 'form'
    
:javascript
  
  


