.width80.set-center.margin-top
  .tbox2
    .title 
      %h1= 'نتیجه پیگیری مشارکت'
    #pay-limit-search-result
      - if @find_code.present?  
        .info-cadre
          %p
            - @find_code.each do |result|
              - if result.partnership.gender == 0
                %b= 'سرکار خانم'
              -else  
                %b= 'جناب آقای'              
              %span  
                = result.partnership.first_name
                = result.partnership.last_name
              %b= 'فرزند'  
              %span= result.partnership.father_name
              %b= 'به تاریخ تولد'  
              %span= result.partnership.birthdate
              %h5
                شما در پروژه
                =result.project.title
                ثبت نام کرده اید.
              %b= 'تاریخ ثبت درخواست مشارکت در پروژه'
              %span= JalaliDate.new(result.created_at)
              %br
              %b= 'نتیجه بررسی'
              - if result.accept
                %h2= 'شما در مشارکت پذیرفته شدید.'
                %h3= result.accept_description
              - else
                %h2= 'شما در مشارکت پذیرفته نشده اید.'
                %h3= result.accept_description
              
              
              
      -else
        .alert.alert-warning
          %p= 'موردی یافت نشد. کدرهگیری خود را صحیح وارد کنید'
        .info-cadre
          .signin{:style => "background:#4D4D4D; margin:2%; float:right"}
            %b{:style => "color:#fff"}= 'جستجو بر اساس کدرهگیری'
            = render "pay_limits/search_by_code"
          
          .signin{:style => "background:#4D4D4D; margin:2%;"}
            %b{:style => "color:#fff"}= 'جستجو بر اساس اطلاعات فردی'
            = render "partnerships/search_by_email"
          .clear-float  
