= form_for @letter_template do |f|
  - if @letter_template.errors.any?
    #error_explanation      
      %ul
        - @letter_template.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label 'عنوان قالب:', :class => "control-label "
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label 'متن قالب/فرمت قالب', :class => "control-label "
    = f.text_area :content, :class => "ckeditor"
  .form-group.col-sm-4
    = f.submit 'ذخیره قالب', :class => "mainBtn"  
  .clear-float  
