= form_for @slide do |f|
  - if @slide.errors.any?
    #error_explanation
      
      %ul
        - @slide.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.file_field :image
  .form-group  
    = f.label 'توضیحات:'
    = f.text_area :description
  .form-group
    = f.submit 'ثبت', :class => "button btn-sm"
