%h2= "عضویت در سایت"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
  = devise_error_messages! 

  %div
    = f.label "ایمیل" 
    %br
    = f.email_field :email, :autofocus => true 

  %div
    = f.label "کلمه عبور" 
    %br
    = f.password_field :password

  %div
    = f.label "تکرار کلمه عبور" 
    %br
    = f.password_field :password_confirmation 

  %div    
    = f.submit "عضویت", :class => "btn btn-default"


= render "devise/shared/links"
