%h2= 'اتحادیه تعاونیهای مسکن فرهنگیان استان خراسان'
%h4= 'شماره ثبت ۱۱۹۰۵'
%p= 'شما به عنوان داور در سیستم ثبت شده اید'
%p
  برای تکمیل اطلاعات فردی خود لطفا به سایت اتحادیه مراجعه فرمایید.
  = link_to 'maskan-ef.com', 'maskan-ef.com'
%p  
  اطلاعات مورد نیاز برای ورود به سایت
  %br
  %b='نام کاربری:'
  %h4= @inspector.email
  %br
  %b='رمز عبور:'
  %h4= @generated_password


با تشکر
مدیریت اتحادیه مسکن فرهنگیان استان خراسان

  
  
  

  
