.width80
  %h3
    نتیجه داوری پرسش شما در سایت اتحادیه مسکن فرهنگیان خراسان رضوی
  %h3
    %b موضوع پرسش
    = @complaint.subject
  %h4   
    %b متن پرسش
    = @complaint.complaint_text
  %h4
    %b ایمیل فرستنده
    = @complaint.user_email
  %h4
    %b تلفن همراه فرستنده
    = @complaint.user_phone
  
  %h4
    = @complaint.complaint_answer 
    
  %p
    %i= 'لینک ورود به سایت'
    = link_to 'ورود به سایت ', 'maskan-ef.com'
  %p
    تاریخ ارسال
    %br
    = JalaliDate.new(DateTime.now).strftime("%y/%m/%e %X")
