%div
  %h3
    پرسش ارسال شده توسط کاربر سایت اتحادیه مسکن فرهنگیان خراسان رضوی
  %h3
    = @complaint.subject
  %h4   
    = @complaint.complaint_text
  %h4
    = @complaint.user_email
  %h4
    = @complaint.user_phone
    
    
  %p
    تاریخ ارسال
    %br
    = JalaliDate.new(@complaint.created_at).strftime("%y/%m/%e %X")
