= form_for @complaint do |f|
  - if @complaint.errors.any?
    #error_explanation
      
      %ul
        - @complaint.errors.full_messages.each do |msg|
          %li= msg

  
  .form-group
    = f.label 'متن شکایت:'
    %p= @complaint.complaint_text
  .form-group
    = f.label 'پاسخ به شکایت:'  
    = f.text_area :complaint_answer, :class => "text"
  .form-group
    = f.submit 'ثبت ', :class => "button btn-sm"
