= form_for @complaint , :html => {:class => "contact", name: "contactform", :id => "contactform"} do |f|
  - if @complaint.errors.any?
    #error_explanation
      
      %ul
        - @complaint.errors.full_messages.each do |msg|
          %li= msg

  -if flash[:notice]        
    .alert.alert-success= notice
  - if display
    - if @complaint.complaint_answer.present?
      %b پاسخ داده شده
      %p= @complaint.complaint_answer
  - else
    %p    
      = f.text_area :complaint_answer, :class => "text", :style => "resize: none", placeholder: "پاسخ و داوری خود را وارد کنید"   
    .form-group
      = f.submit 'ثبت ', :class=>"mainBtn", :id => "submit"
