= form_for @complaint, :html => {:class => "contact", name: "contactform", :id => "contactform"} do |f|
  - if @complaint.errors.any?
    .alert.alert-warning      
      %ul
        - @complaint.errors.each do |attr, msg|
          %li= msg
  -if flash[:notice]        
    .alert.alert-success= notice
  %p
    = f.text_field :subject, :id => "name", placeholder: "موضوع پرسش را وارد کنید"    
  %p
    = f.text_field :user_email, :id => "email", placeholder: "ایمیل خود را وارد کنید"    
  %p
    %i= 'شماره تلفن همراه خود را بصورت ده رقمی و بدون صفر ابتدا وارد کنید'
    = f.text_field :user_phone, :id => "subject", placeholder: " تلفن خود را وارد کنید"    
  %p
    = f.text_area :complaint_text, :id => "comments", placeholder: "پرسش خود ر وارد کنید", :style => "resize: none", :class => "ckeditor"
  = f.submit 'ارسال', :class=>"mainBtn", :id => "submit"
%br
 



