.width80.set-center.margin-top
  .tbox2
    .title
      %h1 ثبت پاسخ برای پرسش
    .input-form    
      - if is_inspector?
        .width80.set-center
          %b= 'موضوع شکایت:'
          %p= @complaint.subject
          %br
          %b= 'متن شکایت:'
          %p=raw @complaint.complaint_text
          %br
        .contact-form.width50.set-center
          = render 'answer_form'
      - else
        = render 'form'

    = link_to 'مشاهده', @complaint
    \|
    = link_to 'بازگشت', complaints_path
