.width80.set-center.margin-top
  .tbox2
    -if flash[:notice]        
      .alert.alert-success= notice
    - if is_admin?
      .show-question 
        %p{:style => "margin-top:2%"}
          = link_to 'حذف', @complaint, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }, :class => "complaint-admin complaint-del"
         
          = link_to 'ارسال به ایمیل کاربر', send_answer_complaint_path, :class => "complaint-admin complaint-send"
         
          = link_to 'ارسال و نمایش در سایت', send_and_display_answer_complaint_path, :class => "complaint-admin complaint-show-send"
    .title 
      %h1
        = @complaint.subject    
    .show-question 
      %p
        %b موضوع پرسش
        = @complaint.subject
      %p
        %b متن پرسش
        = @complaint.complaint_text
    .show-question 
      %p
        %b پاسخ پرسش
        -if @complaint.complaint_answer.present?
          = @complaint.complaint_answer
        - else
          %h4.no-answer= 'در انتظار پاسخ'
          - if is_inspector?                
            = link_to 'ثبت جواب', edit_complaint_path(@complaint), :class => "save-btn"
    -if is_admin? 
      .commit
        %b= 'نظر مدیران'
        - if @commits
          - @commits.each do |commit|      
            %hr
            %div
              
              .col-lg-2
                %i= JalaliDate.new(commit.created_at).strftime("%y/%m/%e %X")
                %br
                - if is_admin?                
                  = link_to 'ویرایش', edit_comment_complaint_path(commit)
                  \|
                  = link_to 'حذف', commit, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
              
              .col-lg-8
                %p= commit.text
              .col-lg-2
                %p= commit.user_name
                %p= commit.user_email

              
            .clear-float
        %hr
        %b= 'نظر مدیرسایت'
        .contact-form.width50
          = render 'comment_complaints/form', :complaint_id => @complaint.id
