#tbox2
  .title 
    %h3
      = @complaint.complaint_text
  %p#notice= notice

  %p
    %b User:
    = @complaint.user_id
  %p
    %b متن شکایت
    = @complaint.complaint_text
  %p
    %b جواب شکایت
    = @complaint.complaint_answer

  = link_to 'ویرایش', edit_complaint_path(@complaint)
  \|
  = link_to 'مشاهده شکایات', complaints_path
