
= form_for @inform, {:class => "form-horizontal"}  do |f|
  - if @inform.errors.any?
    #error_explanation      
      %ul
        - @inform.errors.each do |attr, msg|
          %li= msg
  %legend
    اعلامیه جدید
  .form-group
    = f.label "پروژه مربوطه:"
    = f.select :project_id, options_for_select(Project.all.collect{ |u| [u.title, u.id] }), prompt: "پروژه مربوطه را انتخاب کنید"
  .form-group.width50
    
    = f.check_box :important  
    = f.label "خبر مهم است."
  
  .form-group
    = f.label :عنوان, :class => "control-label"    
    = f.text_field :title, :class => "text"
  .form-group
    = f.label :متن,  :class => "control-label"
    .editor
      = f.text_area :text,  :class => "ckeditor text"
  
  .form-group    
    = f.submit 'ثبت', :class => "mainBtn"


