
= form_for @inform, {:class => "form-horizontal"}  do |f|
  - if @inform.errors.any?
    #error_explanation      
      %ul
        - @inform.errors.each do |attr, msg|
          %li= msg
  %legend
    اعلامیه جدید
  .form-group
    = f.label "پروژه مربوطه:"
    = f.select :project_id, options_for_select(Project.all.collect{ |u| [u.title, u.id] }), prompt: "پروژه مربوطه را انتخاب کنید"
  .form-group
    = f.label "خبر مهم است."
    = f.check_box :important  
  .form-group
    = f.label :عنوان, :class => "control-label"
    .col-lg-10
      = f.text_field :title, :class => "form-control"
  .form-group
    = f.label :متن,  :class => "control-label"
    .col-lg-10.editor
      = f.text_area :text,  :class => "ckeditor"
  
  .form-group
    .col-lg-10.col-lg-offset-2
      = f.submit 'ثبت', :class => "btn btn-primary"
.clear-float

