
    
.col-sm-7{:style => "text-align:left; margin-bottom:10%"}
  = JalaliDate.new(inform.created_at).format("%A %d %b %Y")           
.col-md-3
  - if is_admin?
    .admin-link
      = link_to 'ویرایش | ', edit_inform_path(inform)    
      = link_to 'حذف', inform, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
.col-md-2
  -if inform.important
    .important= "مهم"   
.col-md-12
  %b= link_to inform.title, inform
-if inform.project_id
  .col-md-12
    = link_to inform.project.title, inform.project  
- if inform.image.present?
  .col-md-12{:style => "text-align:center"}
    = image_tag inform.image(:small)

.col-sm-12.inform-text{:style => " margin:2%; padding:2%"}            
  = raw inform.text
.col-sm-4
  .more
    = link_to 'مشاهده بیشتر', inform
