#tbox2
  .title
    %h2 اخبار و اعلامیه ها

  %table.table
    - @informs.each do |inform|
      %tr      
        
        %td.important
          -if inform.important      
            مهم
        %th= link_to inform.title, inform      
        %td
          %span= 'تعداد بازدید'
          = inform.number_visit
       
        %td
          = link_to 'ویرایش', edit_inform_path(inform)
          = link_to 'حذف', inform, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
      %tr
        %td{:colspan => "4"}= raw inform.text

  = link_to 'ثبت اطلاعیه جدید', new_inform_path, :class => "button btn-sm"
