.width80.set-center.margin-top
  .tbox2
    .title
      %h1= @inform.title
    .center-div.set-center.min-height.col-md-6      
      - if @inform.project.present?
        %p
          %h4 
            = @inform.title 
            = link_to @inform.project.title, @inform.project
      
      
    .col-md-6
      - if @inform.image.present?
        = image_tag @inform.image(:original)
    .col-md-12{:style => "text-align:justify"}  
      %p    
        = raw @inform.text
    .clear-float
    %hr
    %p
      %b تعداد بازدید:
      = @inform.number_visit    
      
  - if  is_admin?

    = link_to 'ویرایش', edit_inform_path(@inform)
    \|
    = link_to 'بازگشت', informs_path
