#tbox2
  .title
    %h2= "اعلامیه "
  .center-div.set-center.min-height
    -if notice
      .alert.alert-dismissable.alert-success
        %p#notice= notice
    - if @inform.project.present?
      %p
        %h4 
          = @inform.title 
          = link_to @inform.project.title, @inform.project
    
    %p
      %b تعداد بازدید:
      = @inform.number_visit
    %p    
      = raw @inform.text
      
    
    

  = link_to 'ویرایش', edit_inform_path(@inform)
  \|
  = link_to 'بازگشت', informs_path
