= form_for @user || @user = User.new do |f|
  - if @user.errors.any?
    #error_explanation     
      %ul
        - @user.errors.each do |attr, msg|
          %li= msg
  - if is_admin?
    .form-group
      = f.label "نقش کاربر:"
      - if @user.present?
        %b= @user.role.name
      %p#change-role= 'برای تغییر نقش کاربر اینجا کلیک کنید.'
      .select-role
        = f.select :role_id, options_for_select(Role.all.collect{ |u| [u.name, u.id] }), prompt: "تعیین نقش کاربران"
      
  .form-group
    = f.label "نام:"
    = f.text_field :name, :class => "text"
  .form-group
    = f.label "نام خانوادگی"
    = f.text_field :last_name, :class => "text"
  .form-group
    = f.label "شماره ملی"
    = f.text_field :national_code, :class => "text"
  .form-group
    = f.label "تاریخ تولد:"
    = f.text_field :birthdate, :class => "text"
  .form-group
    = f.label "تلفن ثابت"
    = f.text_field :phone, :class => "text"
  .form-group
    = f.label "تلفن همراه"
    = f.text_field :mobile, :class => "text"
  .field
    = f.label "آدرس"
    = f.text_area :address, :class => "text"
  .actions
    = f.submit 'ثبت', :class => "mainBtn"
:javascript
  $('p#change-role').click(function()  {
    $('.select-role').fadeIn(100);
  });
