= form_for @user || @user = User.new do |f|
  - if @user.errors.any?
    #error_explanation     
      %ul
        - @user.errors.each do |attr, msg|
          %li= msg
  .form-group
    = f.label "نقش کاربر:"
    = f.select :role_id, options_from_collection_for_select(@role, "id","name"), { :include_blank=>true }
  .form-group
    = f.label "نام:"
    = f.text_field :name, :class => "text"
  .form-group
    = f.label "نام خانوادگی"
    = f.text_field :last_name, :class => "text"
  .form-group
    = f.label "شماره ملی"
    = f.text_field :national_code, :class => "text"
  .form-group
    = f.label "تاریخ تولد:"
    = f.date_select :birthdate, :class => "text"
  .form-group
    = f.label "تلفن ثابت"
    = f.text_field :phone, :class => "text"
  .form-group
    = f.label "تلفن همراه"
    = f.text_field :mobile, :class => "text"
  .field
    = f.label "آدرس"
    = f.text_area :address, :class => "text"
  .actions
    = f.submit 'مرحله بعد', :class => "button btn-sm"
