.width80.set-center.margin-top
  .tbox2
    .title
      %h1= 'ویرایش پروفایل' + @user.email
    -if flash[:AddInspector]        
      .alert.alert-success= flash[:AddInspector] 
    .contact-form.width50
      = render 'form'

    = link_to 'مشاهده', @user
    \|
    = link_to 'بازگشت', users_path
