#tbox2
  .title
    %h2 لیست کاربران

  = link_to 'ثبت عضو جدید', new_user_path, :class => "button btn-sm"
  %table.table
    %tr
      %th= 'نام و نام خانوادگی'      
      %th= 'تلفن ثابت'
      %th= 'تلفن همراه'      
      %th= 'ایمیل'
      %th 

    - @users.each do |user|
      %tr
        %td
          = user.name 
          = user.last_name        
        %td= user.phone
        %td= user.mobile        
        %td= user.email        
        %td= link_to 'مشاهده اطلاعات کامل کاربر', user        
      %tr 
        %td= 'پروژه'
        %td
        %td= 'سقف توان پرداختی:'
        %td= user.payments.first.amount



