#tbox2
  %h2= 'اطلاعات کاربر'
  %p#notice= notice

  %p
    %b نام:
    = @user.name
  %p
    %b نام خانوادگی
    = @user.last_name
  %p
    %b تلفن ثابت:
    = @user.phone
  %p
    %b تلفن همراه:
    = @user.mobile
  %p
    %b تاریخ تولد:
    = @user.birthdate
  %p
    %b ایمیل:
    = @user.email
  
  = link_to 'بازگشت', users_path
