#tbox2
  .title 
    %h2 تغییر رمزعبور
  .col-lg-8
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "رمزعبور جدید", :class => "control-label"
        %br/
        = f.password_field :password, :autofocus => true, :class => "text"
      .form-group
        = f.label :password_confirmation, "تاییده رمزعبور", :class => "control-label"
        %br/
        = f.password_field :password_confirmation, :class => "text"
      .form-group
        = f.submit "تغییر رمزعبور", :class => "button btn-sm"
    = render "devise/shared/links"
