#tbox2
  .title 
    %h2 آیا رمزعبور خود را فراموش کرده اید؟
  .col-lg-8
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label ' ایمیل خود را وارد کنید:', :class => "control-label"  
        %br/
        = f.email_field :email, :autofocus => true, :class => "text"
      .form-group
        = f.submit "ارسال رمزعبور", :class => "button btn-sm"
    = render "devise/shared/links"
