
  
= link_to "گزارش گیری از کابران", User
%br
= link_to "گزارش گیری درخواست مشارکت", PayLimit
%br
= link_to "گزارش شکایات", Complaint
%br
= link_to " مدیریت اطلاعیه", Inform
%br
= link_to 'مدیریت اسلایدر', Slide
%br
= link_to "مدیریت پروژه ها", Project
%br
= link_to "مدیریت تعاونیها ", Cooperative
%br
= link_to "مدیریت صفحات متنی", Page
%br
= link_to "مدیریت پیوندها", Link
%br
= link_to "مدیریت مدیران", Management
%br
= link_to "مدیریت پیام ها", Message
%br
= link_to 'پروفایل مدیر', edit_user_registration_path(current_user)
%br

