.admin-title
  %h3= "منوی مدیر سایت"
  %h5= current_user.national_code
.list-group    
  = link_to "ثبت عضو در سایت", "users/sign_up", :class => "list-group-item"
  = link_to "گزارش گیری از کابران", User, :class => "list-group-item"
  = link_to " مدیریت اطلاعیه", Inform, :class => "list-group-item"
  = link_to 'مدیریت اسلایدر', Slide, :class => "list-group-item"
  = link_to "مدیریت پروژه ها", Project, :class => "list-group-item"
  = link_to "مدیریت تعاونیها ", Cooperative, :class => "list-group-item"
  = link_to "مدیریت صفحات متنی", Page, :class => "list-group-item"
  = link_to "مدیریت پیوندها", Link, :class => "list-group-item"
  = link_to "مدیریت مدیران", Management, :class => "list-group-item"  
  = link_to "مدیریت پیام ها", Message, :class => "list-group-item"
  = link_to 'پروفایل مدیر', edit_user_registration_path(current_user)
