.col-lg-8     
  %div
    %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Apadana,+Mashhad,+Khorasan+Razavi,+Iran&aq=0&oq=apada&sll=36.311784,59.569263&sspn=0.021544,0.039482&ie=UTF8&hq=&hnear=Apadana,+Abkuh,+Mashhad,+Khorasan+Razavi,+Iran&t=m&z=14&ll=36.310743,59.571472&output=embed", width: "425"}
    %br/
    %small
      %a{href: "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Apadana,+Mashhad,+Khorasan+Razavi,+Iran&aq=0&oq=apada&sll=36.311784,59.569263&sspn=0.021544,0.039482&ie=UTF8&hq=&hnear=Apadana,+Abkuh,+Mashhad,+Khorasan+Razavi,+Iran&t=m&z=14&ll=36.310743,59.571472", style: "color:#0000FF;text-align:left"} View Larger Map
.col-lg-4.footer-link
  %ul.footer-item
    %li
      = link_to 'صفحه نخست', root_path
    %li
      = link_to 'پروژه ها', projects_path
    %li
      = link_to 'تعاونیها', cooperatives_path
  
  
    %li
      = link_to  'ارسال لینک جاری به دوستان', '#', "data-toggle" => "modal", "data-target" => ".bs-example-modal-sm"
    
    %li
      
      آمار سایت
      = Visit.all.count
      بازدید تاکنون
  .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title ارسال لینک جاری به ایمیل دوستان

        .modal-body
          = render 'send_links/form'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

