= form_for @message ||= Message.new, :html => {:class => "contact", name: "contactform", :id => "contactform"} do |f|
  - if @message.errors.any?
    .alert.alert-warning 
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg
  
      
  -if flash[:msgsended]        
    .alert.alert-success= flash[:msgsended] 
  
  %p
    = f.text_field :user_name, :id => "name", placeholder: "نام خود را وارد کنید"    
  %p
    = f.text_field :email, :id => "email", placeholder: "ایمیل خود را وارد کنید"    
  %p
    = f.text_field :phone, :id => "subject", placeholder: " تلفن خود را وارد کنید", :style => "resize:none"
  %p
    = f.text_area :text, :id => "comments", placeholder: "پیام خود را وارد کنید", :style => "resize:none"
  = f.submit 'ارسال پیام', :class=>"mainBtn", :id => "submit"
%br
:javascript   
  
  $(':submit#submit').click(function(e) {
    $(':text#name, :text#email, textarea#comments').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });



