%fieldset 
  %legend
    %span= " تماس با ما"        
    =image_tag "msg-icon.png"
= form_for @message ||= Message.new, :html => {:class => "contact"} do |f|
  - if @message.errors.any?
    #error_explanation
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg
  
      
  -if flash[:notice]        
    .alert.alert-success= notice
        
  .form-group
    
    = f.label "نام"    
    .col-lg-9
      = f.text_field :user_name, :class => "text"
    %span.Necessary= "ضروری"
     
    
  .form-group
    = f.label " ایمیل"    
    .col-lg-9
      = f.text_field :email, :class => "text"
    %span.Necessary=  "ضروری"
    
  .form-group
    = f.label " تلفن"
    .col-lg-9
      = f.text_field :phone, :class => "text"
    .clear-float
    
  .form-group
    = f.label "پیام"
    
    .col-lg-9
      = f.text_area :text, :class => "text"
    %span.Necessary=  "ضروری"
    .clear-float     
  .form-group
    = f.submit 'ارسال', :class=>"button button-small"
%br
