
%ul.menu-first.hidden-sm.hidden-xs
  
  %li.active
    = link_to 'صفحه اصلی' , '#'
  %li
    = link_to 'خدمات' , '#services'                      
  %li
    = link_to 'پروژه ها' , '#portfolio'                     
  %li
    = link_to 'مدیران' , '#our-team'                            
  %li
    = link_to 'ارتباط با ما' , '#contact'            
