.bs-component
  .navbar.navbar-inverse
    .navbar-header
      =link_to "اتحادیه مسکن", root_path, :class => "navbar-brand"
    %ul.nav.navbar-nav      
      %li{:class => ('active' if current_page?(informs_path) )}
        = link_to "اخبار", Inform
      %li{:class => ('active' if current_page?(managements_path))}
        = link_to "مدیران", Management
      - Page.all.each do |page|      
        %li{:class => ('active' if current_page?(page_path(page)))}
          = link_to page.title, page
      
      %li.dropdown{:class => ('active' if current_page?(projects_path))}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          پروژه ها
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "در دست احداث"
          %li
            = link_to "تحویل داده شده"
          %li
            = link_to "عکس پروژه ها", Project
          
    %form.navbar-form.navbar-right
      %input.form-control.col-lg-8{placeholder: "Search", type: "text"}/
    %ul.nav.navbar-nav.navbar-left     
      %li
        =link_to "عضویت در سایت", "users/sign_up"

      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          ورود به سایت
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
      
