
.admin-title
  %h3.panel-title= "منوی کاربر عضو"
.list-group
  = current_user.role_id
  = link_to "مدیریت پروفایل شخصی", edit_user_registration_path(current_user), :class => "list-group-item"
  = link_to 'پیگیری ثبت نام ', '#',  :class => "list-group-item"
  = link_to 'سایر', '#',  :class => "list-group-item"
  
