.width80.set-center.margin-top
  .tbox2
    .title  
      - if @project.present?
        %h1= "فرم ثبت نام در پروژه" + " " + @project.title
      -else
        %h1= "فرم ثبت نام در پروژه"
      %h2= 'وارد کردن اطلاعات شخصی'
    .col-sm-1
    .col-sm-11
      .step.col-sm-3
        %p= 'مرحله سوم'
        %p= 'دریافت کد رهگیری'
      .step.col-sm-3
        %p= 'مرحله دوم'
        %p= 'تکمیل اطلاعات مالی'
      .step.active.col-sm-3
        %p= 'مرحله اول'
        %p= 'تکمیل اطلاعات شخصی'
      
      
    .contact-form.col-sm-12{:style => "direction:rtl"}
      -if flash[:error]        
        .alert.alert-warning= flash[:error]
      = render 'form'
    
