= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation      
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :عنوان, :class => "control-label"
    = f.text_field :title, :class => "form-control"
  .form-group
    = f.label :متن, :class => "control-label"
    = f.text_area :text, :class => "ckeditor"
  .form-group
    = f.submit 'ثبت', :class => "btn btn-primary"
.clear-float
