= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation      
      %ul
        - @contact.errors.each do |attr, msg|
          %li= msg

  .form-group.col-sm-3.pull-right
    = f.label 'نام و نام خانوادگی:', :class => "control-label"    
    = f.text_field :preson_name, :class => "form-control"
  
  .form-group.col-sm-3.pull-right
    = f.label 'نام شرکت/تعاونی:', :class => "control-label"    
    = f.text_field :company_name, :class => "form-control"
  .form-group.col-sm-3.pull-right
    = f.label 'ایمیل:', :class => "control-label"    
    = f.email_field :email, :class => "form-control"
  .form-group.col-sm-3.pull-right
    = f.label 'تلفن:', :class => "control-label"    
    = f.text_field :phone, :class => "form-control phone"
  .form-group.col-sm-3.pull-right
    = f.label 'فکس:', :class => "control-label"    
    = f.text_field :fax, :class => "form-control"
  .form-group.col-sm-6.pull-right
    = f.label 'آدرس:', :class => "control-label"    
    = f.text_area :address, :class => "form-control"
  .form-group.col-sm-2.pull-right
    = f.submit 'ثبت', :class => "mainBtn", :id => "phone-submit"
.clear-float
:javascript    
  $(':submit#phone-submit').click(function(e) {
    $(':text.phone ').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });
