.width80.set-center.margin-top
  .tbox2
    .title      
      %h1 دفترچه تلفن
    - if is_admin?
      = link_to 'افزودن به دفترچه تلفن', new_contact_path, :class => "save-btn"
    %table.table.table-striped{id:"phone_table"}
      %thead
        %tr
          %th ردیف
          %th نام و نام خانوادگی
          %th نام شرکت
          %th تلفن های تماس
          %th فکس
          %th آدرس
          - if is_admin?          
            %th عملیات
          
          
      %tbody{:id => "phone_container"}
        - @contacts.each_with_index do |contact, i|
          %tr          
            %td= (i+1)
            %td= contact.preson_name
            %td= contact.company_name
            %td= contact.phone
            %td= contact.fax
            %td= contact.address 
            - if is_admin?          
              %td            
                = link_to 'مشاهده', contact
                \|
                = link_to 'ویرایش', edit_contact_path(contact)
                \|
                = link_to 'حذف', contact, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

    
    
:coffeescript
  window.reloadDataTable = ->
    if !!window.oTable
      window.oTable.fnDestroy(); 
    window.oTable = $("#phone_table").dataTable aoColumnDefs: [
      bSearchable: false
      aTargets: [0,6]
    ,  
      bSortable: false
      aTargets: [0,6]
    ],  oLanguage:
      sSearch: "جستجو:"
      sLengthMenu: "نمایش _MENU_ ردیف"
      sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
      sZeroRecords: "هیچ داده ای وجود ندارد"
      sInfoEmpty: "هیچ موردی یافت نشد"
      sInfoFiltered: " - از بین _MAX_ داده موجود"
      oPaginate:
        sPrevious: "صفحه قبلی"
        sNext: "صفحه بعدی"

  window.reloadDataTable()
