.width80.set-center.margin-top
  .tbox2
    .title
      %h1= "لیست پروژه ها"
    - if is_admin?
      = link_to 'پروژه جدید', new_project_path, :class => "save-btn"
    .col-md-4.col-sm-6.pay-limit-box
      = link_to 'درخواست مشارکت جدید', new_partnership_path
    .clear-float
    .index-projects
      - @projects.each do |project|
        .projects-holder         
          .top-div
            = link_to project do
              %h3.pro-title-holder= project.title
            - if is_admin?
              = link_to 'ویرایش', edit_project_path(project)
              = link_to 'حذف', project, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
          .sample-pic.set-center.col-lg-4
            = image_tag project.pictures.first.image(:small), :class => "set-center"           
            
          .col-lg-6
            %p= project.description
            %p
              -if project.Status        
                %i= 'تحویل داده شده'                
              -else
                %i= 'در دست احداث'    
        .clear-float
        .col-sm-2
          .more
            = link_to 'مشاهده بیشتر', project   
              
        .clear-float
      
      .clear-float
    

   
