.width80.set-center.margin-top
  .tbox2    
    
    .title
      %h1= 'پروژه ' +  @project.title     
       
      -if is_admin?           
        = link_to 'ویرایش', edit_project_path(@project)
        \|
        = link_to 'بازگشت', projects_path
        
    %div
      %i= 'تعداد بازدید '
      = @project.impressionist_count 
      نفر   
      .row.text-center 
        
      
        .col-md-5.info
          %p
            %b وضعیت:
            -if  @project.Status
              تحویل داده شده
            -else
              در دست احداث
          %hr
          %p
            %b متراژ زمین:
            = @project.land_area
          %p
            %b متراژ هر واحد:
            = @project.Area
          %p
            %b تعداد طبقات:
            = @project.floor
          %p
            %b تعداد واحد:
            = @project.unit
          %p
            %b تعداد بلوک:
            = @project.block
          %p
            %b آدرس:
            = @project.address
          %p
            %b توضیحات تکمیلی:
            = @project.description
          %p
            %b سال شروع ساخت:
            = @project.start_year
          %p
            %b سال تحویل:
            = @project.finish_year
        .col-md-6 
          =link_to (image_tag @project.pictures.first.image(:large)), @project.pictures.first.image(:original), :data => { :colorbox => true }         
        - unless @project.Status
          .col-md-4.col-sm-6.pay-limit-box
            = link_to 'ثبت نام در پروژه ', new_partnership_path(:project_id => @project.id)
          
        
      .clear-float
      
      .sub-title 
        %h3.col-md-2= 'اطلاعیه ها'
        .col-md-9.line-orange 
        
        .clear-float
        -if @pro_informs.present?
          - @pro_informs.each do |inform|
            %div
              %p
                %b 
                  = inform.title          
              %p    
                = raw inform.text
      
      .pic-project
        - @project.pictures.offset(1).each do |picture|
          .col-lg-3.image-project
            =link_to (image_tag picture.image(:small)), picture.image(:large), :data => { :colorbox => true }     
            %p= picture.description
            -if is_admin?           
              = link_to 'ویرایش', edit_picture_path(picture)
              \|
              = link_to 'حذف', picture, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
              
                    

