%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Address:
  = @project.address
%p
  %b Description:
  = @project.description
%p
  %b Area:
  = @project.Area
%p
  %b Unit:
  = @project.unit
%p
  %b Status:
  = @project.Status

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
