.width80.set-center.margin-top
  .tbox2


  %p
    %b نام و نام خانوادگی:
    = @phone_book.preson_name
  %p
    %b نام شرکت/تعاونی:
    = @phone_book.company_name
  %p
    %b تلفن های تماس:
    = @phone_book.phone
  %p
    %b فکس:
    = @phone_book.fax
  %p
    %b آدرس:
    = @phone_book.address
  - if is_admin?

    = link_to 'ویرایش', edit_phone_book_path(@phone_book)
    \|
    = link_to 'بازگشت', phone_books_path
