= form_for @letter do |f|
  - if @letter.errors.any?
    #error_explanation      
      %ul
        - @letter.errors.each do |attr, msg|
          %li= msg
  .col-lg-6
    .form-group
      =Letter::LetterTypes[@letter.letter_type.to_sym]
      =f.hidden_field :letter_type, :class => "form-control"
    .form-group
      = f.label 'خلاصه نامه:', :class => "control-label"    
      = f.text_field :summary, :class => "form-control"
    .form-group
      = f.label 'تاریخ ارسال:', :class => "control-label"    
      = f.text_field :sent_date_fa, class:"fa_date form-control"
    .form-group
      = f.label 'تاریخ دریافت:', :class => "control-label"    
      = f.text_field :received_date_fa, class:"fa_date form-control"
  .col-lg-6
    .form-group
      = f.label 'شخص ارسال کننده:', :class => "control-label"    
      = f.text_field :senderpreson_name, data: {autocomplete_source: preson_names_contacts_path}, :class => "form-control"
      .form-group
      = f.label 'شرکت ارسال کننده', :class => "control-label"    
      = f.text_field :sendercompany_name, data: {autocomplete_source: company_names_contacts_path}, :class => "form-control"
    .form-group
      =f.label 'دریافت کننده:', :class => "control-label"    
      =f.text_field :reciever_tokens, data: {autocomplete_source: reciever_names_contacts_path, load: @letter.recievers.map{|c|{id:c.id, name:c.preson_name}}}
      =link_to "افزودن دریافت کننده جدید", new_contact_path, target:"_blank", :class => "save-btn"
      /should be auto complete
    .form-group
      = f.label 'ضمایم:', :class => "control-label"    
      = f.text_field :attachment  , :class => "form-control"
  .row
    .form-group
      از قالب های آماده استفاده کنید
      =select_tag :set_template, options_for_select(LetterTemplate.all.collect{ |lt| [lt.name, lt.id] }), prompt: "قالب نامه موردنظر را انتخاب کنید", :include_blank=>true 
      =link_to "قالب آماده بسازید", new_letter_template_path, target:"_blank", :class => "save-btn"
  .col-lg-12   
    .form-group
      = f.label :content, :class => "control-label"    
      = f.text_area :content, :class => "ckeditor"
  
  .form-group.col-lg-3
    = f.submit 'ثبت', :class => "mainBtn"
  .clear-float  
    
:coffeescript
  $('#set_template').change ->
    if $('#set_template').val() != ""
      $.ajax({
      url: '#{set_letter_templates_path}',
      data: id: $('#set_template').val(),
      });  
