#letter_cunter{:style => "width:30%; float:right " }
  = form_tag cunter_letters_path, :method => "get", id: "cunter-form", :remote => true do 
    = text_field_tag :cunter, params[:cunter], :id => 'cunter_field' , placeholder: "عدد شروع کننده شمارنده"
    = submit_tag "ثبت", :name => nil, :id => "cunter-submit" , :style => "width:30%; float:right " 
    #cunter-clear.col-md-4= link_to  "تصحیح", '#phone'
    #cunter-close.col-md-4= link_to  "بستن", '#close'
.clear-float
-#
  #add_reciever{:style => "position:absolute; left:0; bottom:-10%"}
    = form_tag new_contact_path, :method => "put", id: "search-form", :remote => true do 
      = text_field_tag :add_reciever, params[:add_reciever], :id => 'add_reciever_field', placeholder: 'نام دریافت کننده جدید را اضافه کنید'
      %button.save-btn#search-submit= 'send'
      #clear.col-md-4= link_to  "تصحیح", '#phone'            
    #search_result.search_result
= form_for @letter do |f|
  - if @letter.errors.any?
    #error_explanation      
      %ul
        - @letter.errors.each do |attr, msg|
          %li= msg
  
  
  .col-sm-12.andicator
    .col-sm-5
      = f.hidden_field :letter_type, :value => @letter_type_show
      .form-group.dates
        = f.label 'شماره نامه:', :class => "control-label ", :style => "width:30%; float:right; font-weight:bold " 
        .col-sm-9 
          - if @letter.letter_number.present?
            %b= @letter.letter_number
          - else
            - if @last_letter.present?
              %b#counter-number{:style => "width:20%; float:right "}= @last_letter_split
              
              = hidden_field_tag :counter_number, params[:counter_number], :id => 'counter_number_field', :value => @last_letter_split
            - else
              %b#counter-number{:style => "width:20%; float:right "}                      
              = hidden_field_tag :counter_number, params[:counter_number], :id => 'counter_number_field'
            - if @letter_type_show == 'sent'  
              %span{:style => "width:12%; float:right; "}= '/۱-'
            - elsif @letter_type_show == 'recieved'
              %span{:style => "width:12%; float:right; "}= '/۲-'
            = hidden_field_tag :type_of_letter, params[:type_of_letter], :id => 'type_of_letter_field' , :value => ( @letter_type_show == 'sent'  ? '۱' : '۲')
            = hidden_field_tag :letter_type_email, params[:letter_type_email], :id => 'type_of_letter_field' , :value => ('email' if @letter_type_show == 'email')
            
            %select#region_3{name: "alphabet", :style => "width:30%; float:right; "}
              %option{value: "د"} د
              %option{selected: "selected", value: "الف"} الف
              
            %b{:style => "width:20%; float:right "}= @current_year            
            = hidden_field_tag :current_year, params[:current_year], :id => 'current_year_field' , :value => @current_year
      .clear-float  
      #change-letter-cunter
        %i= 'برای تغییر عدد شروع کننده شمارنده نامه '
        = link_to 'اینجا کلیک کنید.', '#'
        
      .clear-float  
        - if @letter_type_show == 'sent' || @letter_type_show == 'email' 
          .form-group.dates
            = f.label 'تاریخ ارسال:', :class => "control-label ", :style => "width:30%; float:right "    
            = f.text_field :sent_date_fa, class:" fa_date form-control", :value => @current_date, :style=> "width:50%; "            
        - elsif @letter_type_show == 'recieved' 
          .form-group.dates
            = f.label 'تاریخ دریافت:', :class => "control-label", :style => "width:30%; float:right "        
            = f.text_field :received_date_fa, class:"fa_date form-control", :style => "width:50%; " , :value => @current_date
        
      
        
    .col-sm-3.besella
      %b= 'بسمه تعالی'
    .col-sm-4
      %h1.letter-title-new= 'اتحادیه تعاونیهای مسکن فرهنگیان استان خراسان شماره ثبت ۱۱۹۰۵'
        
        
      
  .clear-float
  .base-letter
    .form-group
      = f.label 'خلاصه نامه:', :class => "control-label"    
      = f.text_field :summary, :class => "form-control"
    
    .col-sm-12
      - if @letter_type_show == 'recieved'
        .form-group.col-sm-6
          = f.label 'شخص ارسال کننده:', :class => "control-label"    
          = f.text_field :senderpreson_name, data: {autocomplete_source: preson_names_contacts_path}, :class => "form-control"
        .form-group.col-sm-6
          = f.label 'شرکت ارسال کننده', :class => "control-label"    
          = f.text_field :sendercompany_name, data: {autocomplete_source: company_names_contacts_path}, :class => "form-control"
          
      - elsif @letter_type_show == 'sent'       
        .form-group.width50.pull-right
          =f.label 'دریافت کننده:', :class => "control-label"    
          =f.text_field :reciever_tokens, data: {autocomplete_source: reciever_names_contacts_path, load: @letter.recievers.map{|c|{id:c.id, name:c.preson_name}}}
        .form-group.width50.pull-right
          = link_to "افزودن دریافت کننده جدید", new_contact_path, :class => "save-btn", :id => "add-reciever", :target => "_blank"
      
      - elsif @letter_type_show == 'email'        
        .form-group.width50
          %span.width50.pull-right= check_box_tag 'send_all', 'send_to_all'
          %span= 'ارسال برای تمام تعاونیها'
        .form-group.width50.pull-right
          =f.label 'دریافت کننده:', :class => "control-label"    
          =f.text_field :reciever_tokens, data: {autocomplete_source: reciever_names_contacts_path, load: @letter.recievers.map{|c|{id:c.id, name:c.preson_name}}}
        .form-group.width50.pull-right
          = link_to "افزودن دریافت کننده جدید", new_contact_path, :class => "save-btn", :id => "add-reciever", :target => "_blank"
        %br  
        %br  
        %br  
          
          
          
          /should be auto complete
        .clear-float
    .col-sm-3      
    .col-sm-9      
      .form-group
        = f.label 'رونوشت:', :class => "control-label"    
        = f.text_area :attachment, :class => "ckeditor"
    .clear-float
    .form-group
      %i= 'از قالب های آماده استفاده کنید'      
      =select_tag :set_template, options_for_select(LetterTemplate.all.collect{ |lt| [lt.name, lt.id] }), prompt: "قالب نامه موردنظر را انتخاب کنید"
      %br
      %i= 'می توانید برای سهولت ثبت نامه، برای نامه هایی که قالب یکسان دارند. قالب را یک بار تعریف کنید و به دفعات از آن استفاده کنید'
      =link_to "قالب آماده بسازید", new_letter_template_path, target:"_blank", :class => "save-btn"
      
    .clear-float
    .form-group
      = f.label 'محتوی:', :class => "control-label"    
      = f.text_area :content, :class => "ckeditor"
  .clear-float
  .maskan-address.set-center
    %div= 'آدرس: بلوار سازمان آب-نبش آپادانا-پلاک۷-تلفن و فاکس:۳۷۶۲۰۷۵۵-۰۵۱'
  .form-group.col-sm-3
    = f.submit 'ثبت نامه', :class => "mainBtn"  

:coffeescript
  $('#set_template').change ->
    if $('#set_template').val() != ""
      $.ajax({
      url: '#{set_letter_templates_path}',
      data: id: $('#set_template').val(),
      });  

:javascript
  $('#change-letter-cunter').click(function(){
    alert ('آیا مطمئن هستید؟');
    $('#letter_cunter').fadeIn(1000);
  });

  $('#cunter-clear').click(function()
  {
    $('#cunter_field').val('');    
  }); 
  $('#cunter-close').click(function()
  {
    $('#letter_cunter').hide();
  }); 

  
  $(':submit#cunter-submit').click(function(e) {
    $(':text#cunter_field').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });


        
