.width80.set-center.margin-top
  .page-title-holder
    .title
      %h1 Listing letters
    = link_to 'ثبت نامه ارسالی', new_letter_path(letter_type:"sent")
    = link_to 'ثبت نامه دریافتی', new_letter_path(letter_type:"recieved")
  %table
    %tr
      %th Letter type
      %th Summary
      %th Sent date
      %th Received date
      %th Sender
      %th recievers
      %th Content
      %th Attachment
      %th
      %th
      %th

    - @letters.each do |letter|
      %tr
        %td= letter.letter_type
        %td= letter.summary
        %td= letter.sent_date
        %td= letter.received_date
        %td= letter.senderpreson_name
        %td= letter.recievers.collect(&:preson_name).join(',')
        %td= letter.content
        %td= letter.attachment
        %td= link_to 'Show', letter
        %td= link_to 'Edit', edit_letter_path(letter)
        %td= link_to 'Destroy', letter, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  
