.width80.set-center.margin-top
  .page-title-holder
    .title
      %h1 لیست نامه ها
      = link_to 'ثبت نامه صادره', new_letter_path(letter_type:"sent"), :class => "save-btn"
      = link_to 'ثبت نامه وارده', new_letter_path(letter_type:"recieved"), :class => "save-btn"
      = link_to "ارسال ایمیل به تعاونیها", new_letter_path(letter_type:"email"), :class => "save-btn"
      .width30.pull-right
        = link_to  letters_url(format: "xlsx") do
          = image_tag 'excel.png'
          %p= 'دریافت فایل اکسل اندیکاتور'
      .clear-float
  .col-sm-12{:style => "min-height:600px; margin-bottom:5%"}
    .col-sm-6.well{:style => "min-height:400px; border-right:2px solid #4D4D4D;"}
      .title
        %h1 نامه های صادره
        %hr
      %table.table.table-striped{id:"sent_letters_table"}
        %thead
          %tr
            %th ردیف‍
            %th شماره نامه        
            %th خلاصه نامه
            %th تاریخ ارسال
            %th دریافت کننده      
            
            - if is_admin?
              %th عملیات
            
        %tbody{:id => "letter_container"}
          - @letters.each_with_index do |letter, i|      
            - if letter.letter_type == 'sent'
              %tr
                %td= (i+1)
                %td= letter.letter_number

                %td= letter.summary
                %td= JalaliDate.new(letter.created_at)  
                
                %td
                  = letter.recievers.collect(&:preson_name).join(',')
                  = letter.recievers.collect(&:company_name).join(',')
                        
                - if is_admin?
                  %td         
                    = link_to 'مشاهده', letter
                    \|
                    = link_to 'ویرایش', edit_letter_path(letter, :letter_type => letter.letter_type)
    .col-sm-6.well{:style => " background:#FDFDC5"}
      .title
        %h1 نامه های وارده
        %hr
      %table.table.table-striped{id:"recieved_letters_table"}
        %thead
          %tr
            %th ردیف‍
            %th شماره نامه          
            %th خلاصه نامه    
            %th تاریخ دریافت
            %th ارسال کننده          
            
            - if is_admin?
              %th عملیات
        

        %tbody{:id => "letter_container"}        
          - @letters.each_with_index do |letter, i|      
            - if letter.letter_type == 'recieved'
              %tr
                %td= (i+1)
                %td= letter.letter_number

                %td= letter.summary              
                %td= letter.received_date_fa
                %td 
                  =letter.senderpreson_name + ' , '
                  =letter.sendercompany_name
               
                        
                - if is_admin?
                  %td         
                    = link_to 'مشاهده', letter
                    \|
                    = link_to 'ویرایش', edit_letter_path(letter, :letter_type => letter.letter_type)
-#
  :coffeescript
    window.reloadDataTable = ->
      if !!window.oTable
        window.oTable.fnDestroy(); 
      window.oTable = $("#sent_letters_table").dataTable aoColumnDefs: [
        bSearchable: false
        aTargets: [0,5]
      ,  
        bSortable: false
        aTargets: [0,5]
      ],  oLanguage:
        sSearch: "جستجو:"
        sLengthMenu: "نمایش _MENU_ ردیف"
        sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
        sZeroRecords: "هیچ داده ای وجود ندارد"
        sInfoEmpty: "هیچ موردی یافت نشد"
        sInfoFiltered: " - از بین _MAX_ داده موجود"
        oPaginate:
          sPrevious: "صفحه قبلی"
          sNext: "صفحه بعدی"
      window.oTable = $("#recieved_letters_table").dataTable aoColumnDefs: [
        bSearchable: false
        aTargets: [0,5]
      ,  
        bSortable: false
        aTargets: [0,5]
      ],  oLanguage:
        sSearch: "جستجو:"
        sLengthMenu: "نمایش _MENU_ ردیف"
        sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
        sZeroRecords: "هیچ داده ای وجود ندارد"
        sInfoEmpty: "هیچ موردی یافت نشد"
        sInfoFiltered: " - از بین _MAX_ داده موجود"
        oPaginate:
          sPrevious: "صفحه قبلی"
          sNext: "صفحه بعدی"

    window.reloadDataTable()

    
