.width80.set-center.margin-top
  .page-title-holder
  %p#notice= notice
  
  %p
    %b شماره نامه:
    = @letter.letter_number
  %p
    %b نوع نامه:
    = @letter.letter_type
  %p
    %b چکیده نامه:
    = @letter.summary
  %p
    %b تاریخ ارسال نامه:
    = @letter.sent_date_fa
  %p
    %b تاریخ دریافت نامه:
    = @letter.received_date_fa
  %p
    %b= ' فرد فرستنده:'
    = @letter.senderpreson_name
  %p
    %b= 'شرکت فرستنده:'
      
    = @letter.sendercompany_name
  %p
    %b= 'فرد گیرنده:'          
    = @letter.recievers.collect(&:preson_name).join(',')
  %p
    %b= 'شرکت گیرنده:'
    = @letter.recievers.collect(&:company_name).join(',')
  %p
    %b متن نامه
    =raw @letter.content
  %p
    %b ضمایم
    = @letter.attachment

  = link_to 'ویرایش', edit_letter_path(@letter)
  \|
  = link_to 'بازگشت', :back
