.set-center.margin-top
  - if notice.present?
    .alert.alert-success= notice
  
  .page-title-holder
    .width50
      .avoid-this.pull-right.width30
        %h4= 'نوع نامه:'
        %h4= @letter.letter_type
      .avoid-this.pull-right.width30
        = link_to_function((image_tag 'icon_printer.gif'), "javascript:print()")
        %span= 'پرینت نامه'
    
    .letter-show
      .circle-top
      .col-sm-11.letter-info.set-center
        .col-sm-3.letter-left-info          
          %p
            %b= 'تاریخ:' 
            = JalaliDate.new(@letter.created_at)              
          %p
            %b= 'شماره:'                  
            = @letter.letter_number
          %p
            %b= 'پیوست:'            
        .col-sm-5.letter-besmei
          %b= 'بسمه تعالی'
        .col-sm-4.letter-right-info
          .letter-company-name= 'اتحادیه شرکتهای تعاونی مسکن فرهنگیان استان خراسان رضوی شماره ثبت ۱۱۹۰۵'          
      .col-sm-12.letter-holder
        .col-sm-12.letter-inner-title= @letter.recievers.collect(&:company_name).join(',')
        .col-sm-12.letter-inner-title= @letter.recievers.collect(&:preson_name).join(',')
        .col-sm-12.letter-text{:style => "font-family: 'open_sansregular'; "}      
          %p=raw @letter.content
        .col-sm-12.letter-signture
          .tank-box
            %p= 'باتشکر'
            %b= ' مدیریت اتحادیه شرکتهای تعاونی مسکن فرهنگیان استان خراسان رضوی'
          .clear{:style => "clear:both; "}
          %br
          
          .attachment
            - if @letter.attachment.present?
              %p= 'رونوشت:'
              =raw @letter.attachment
            
        .set-center.show-address= 'آدرس: بلوار سازمان آب-نبش آپادانا-پلاک۷-تلفن و فاکس:۳۷۶۲۰۷۵۵-۰۵۱'
        
    .link-admin.avoid-this
      = link_to 'ویرایش', edit_letter_path(@letter, letter_type:  @letter.letter_type)
      \|
      = link_to 'بازگشت', :back



