%p#notice= notice

%p
  %b Letter type:
  = @letter.letter_type
%p
  %b Summary:
  = @letter.summary
%p
  %b Sent date:
  = @letter.sent_date
%p
  %b Received date:
  = @letter.received_date
%p
  %b Sender:
  = @letter.sender
%p
  %b Content:
  = @letter.content
%p
  %b Attachment:
  = @letter.attachment

= link_to 'Edit', edit_letter_path(@letter)
\|
= link_to 'Back', letters_path
