.width80.set-center.margin-top
  - if notice.present?
    .alert.alert-success= notice
  
  .page-title-holder    
    = link_to  '#', rel: "content", :class => "print-hole-page" do
      = image_tag 'icon_printer.gif'
      %span.print= 'پرینت نامه'
    .letter-show              
      .col-sm-12.letter-info
        .col-sm-3.letter-left-info          
          %p
            %b= 'تاریخ' 
            = JalaliDate.new(@letter.created_at)              
          %p
            %b= 'شماره'                  
            = @letter.letter_number
          %p
            %b= 'پیوست'            
        .col-sm-5.letter-besmei
          %b= 'بسمه تعالی'
        .col-sm-4.letter-right-info
          .letter-company-name= 'اتحادیه تعاونیهای مسکن فرهنگیان استان خراسان'
          %p
            %b= 'شماره ثبت ۱۱۹۰۵'
      .col-sm-12.letter-holder
        .col-sm-12.letter-inner-title= @letter.recievers.collect(&:company_name).join(',')
        .col-sm-12.letter-inner-title= @letter.recievers.collect(&:preson_name).join(',')
        .col-sm-12.letter-text{:style => "font-family: 'open_sansregular'; "}      
          %p=raw @letter.content
        .col-sm-12.letter-signture
          .tank-box
            %p= 'باتشکر'
            %b= 'مدیریت اتحادیه مسکن فرهنگیان خراسان'
          .clear{:style => "clear:both; "}
          %br
          
          .attachment
            - if @letter.attachment.present?
              %p= 'رونوشت:'
              =raw @letter.attachment
            
        .set-center.show-address= 'آدرس: بلوار سازمان آب-نبش آپادانا-پلاک۷-تلفن و فاکس:۳۷۶۲۰۷۵۵-۰۵۱'
        
    .link-admin
      = link_to 'ویرایش', edit_letter_path(@letter)
      \|
      = link_to 'بازگشت', :back

:javascript 
  $('.letter-text p').css('font-family', 'open_sansregular');
  $('.letter-text p').css('text-align', 'justify');
  $('.letter-text p span').css('font-family', 'open_sansregular');
 

  $('a.print-hole-page').click(function(){
    window.print();
  });
  
