#tbox2
  .title
    %h2= 'اخبار و اعلامیه ها'
    %hr
  - @informs.all.each do |inform|
    .row      
      .col-md-2
        -if inform.important
          .important= "مهم"          
      .col-md-5
        = JalaliDate.new(inform.created_at).format("%A %d %b %Y - %H:%m") 
      -if inform.project_id
        .col-md-4
          %td= link_to inform.project.title, inform.project    
    .row
      .col-md-6
        = link_to inform.title, inform
      
    .row      
      %td{:colspan => 3}= raw inform.text
    %hr
    
    
  
        
    
  

  
  
  



    

    





