
#inform.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 اعلامیه ها
        %p جدیدترین اعلامیه ها و اخبار تعاونی مسکن فرهنگیان استان خراسان
      / /.heading-section
    / /.row
    .row
      - Inform.all.each do |inform|
        
        .col-sm-5.inform-info  
          - if is_admin?
            .admin-link
              = link_to 'ویرایش', edit_inform_path(inform)
              \|
              = link_to 'حذف', inform, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
          .col-sm-6
            = JalaliDate.new(inform.created_at).format("%A %d %b %Y")           
          .col-md-2
            -if inform.important
              .important= "مهم"   
          .col-md-12
            %b= link_to inform.title, inform
          -if inform.project_id
            .col-md-12
              = link_to inform.project.title, inform.project  
          - if inform.image.present?
            .col-md-12{:style => "text-align:center"}
              = image_tag inform.image(:small)
          
          .col-sm-12.inform-text{:style => " margin:2%; padding:2%"}          
            
            = raw inform.text
          .col-sm-6
            %i.more= link_to 'مشاهده بیشتر', inform
        
#services.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
       
      / /.heading-section
    / /.row
    .row
      .col-md-4.col-sm-6
        #service-1.service-item
          %h2{:style => "padding-top:2%; font-size:20px; color:#fff"}
            = link_to 'پیوندهای مرتبط', Link
            
            
          
          .service-icon
            = image_tag 'link.png', :class => "set-center"
          / /.service-icon
          .service-content{:style => "overflow-y: scroll;"}
            .inner-service
              - Link.all.each do  |link|
                %p
                  = link_to link.title, url_with_protocol(link.web_site), :target => "_blank"
              
          / /.service-content
        / /#service-1
      / /.col-md-4
      .col-md-4.col-sm-6
        #service-2.service-item
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            = link_to 'تعاونیهای تحت پوشش', Cooperative
            
          
          .service-icon
            = image_tag 'colab.png', :class => "set-center"
          / /.service-icon
          .service-content{:style => "overflow-y: scroll;"}
            .inner-service
              - Cooperative.all.each do  |cooperative|
                %p
                  = link_to cooperative.name, cooperative
          / /.service-content
        / /#service-1
      / /.col-md-3
      .col-md-4.col-sm-6
        #service-3.service-item
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            = link_to 'بخشنامه ها', Circular
            
          .service-icon
            = image_tag 'new.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              - @circulars.each do |circular|
                %p  
                  = link_to circular.title, circular
          / /.service-content
        / /#service-1
      / /.col-md-3
      
      .col-md-4.col-sm-6
        #service-5.service-item
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            = link_to 'مقالات', Article
          .service-icon
            = image_tag 'book.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              - @articles.each do  |article|
                %p
                  = link_to article.title, article
          / /.service-content
        / /#service-1
      / /.col-md-3
      
      
      .col-md-4.col-sm-6
        #service-6.service-item
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            = link_to 'آموزش', Education
          .service-icon
            = image_tag 'education.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              - @educations.each do  |education|
                %p
                  = link_to education.title, education
              
              
          / /.service-content
        / /#service-1
      / /.col-md-3
      
      
      .col-md-4.col-sm-6
        #service-4.service-item
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            = link_to 'داوری', Complaint
            
          .service-icon
            = image_tag 'question.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              - @complaints.each do  |complaint|
                %p
                  = link_to complaint.subject, complaint
              
              .ask-question
                = link_to 'ثبت پرسش', new_complaint_path
          / /.service-content
        / /#service-1
      / /.col-md-3
    / /.row
  / /.container
/ /#services


#portfolio.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 پروژه ها
        %p لیست پروژه ها
      / /.heading-section
    / /.row
    .row
      - Project.all.each do |project|
        = link_to  project  do 
          .portfolio-item.col-md-3.col-sm-6{:style => "overflow:hidden"}
            .portfolio-thumb
              = image_tag project.pictures.first.image(:small), :height => "300"
              .portfolio-overlay
                %h3= project.title
                %p
                  = project.address                
                  %br
                  =truncate(project.description , length: 40)              
                  %br
                  - if project.Status
                    تحویل داده شده
                  -else
                    در دست احداث
                    
                                   
                
              / /.portfolio-overlay
            / /.portfolio-thumb
          / /.portfolio-item
          
      
      
    / /.row
  / /.container
/ /#portfolio




#our-team.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 مدیران
        %p لیست مدیران هیئت مدیره
      / /.heading-section
    / /.row
    .row
      - Management.all.each do  |management|
        .team-member.col-md-3.col-sm-6
          .member-thumb
            - if management.image.present?
              = image_tag management.image(:small)            
            - else
              = image_tag 'unknown.png'
            .team-overlay
              %h3= management.name + " " + management.last_name
              %span= management.post
              %p= management.Work_Experience
            / /.team-overlay
          / /.member-thumb
        / /.team-member      
    / /.row
    .row
      .col-md-12.text-center
        .skills-heading
          %h3.skills-title درباره ما
          %p.small-text معرفی اتحادیه مسکن فرهنگیان استان خراسان
      / /.col-md-12
    / /.row
    .row
      .col-md-7
        =raw @about.first.text
          
      / /.col-md-8
      .col-md-5
        = image_tag 'housing-assoc.jpg'
      / /.col-md-5
    / /.row
  / /.container
/ /#our-team


#contact.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 ارتباط با ما
        %p ارسال پیام به مدیر سایت
      / /.heading-section
    / /.row
    .row
      .col-md-12
        .googlemap-wrapper
          #map_canvas.map-canvas
        / /.googlemap-wrapper
      / /.col-md-12
    / /.row
    .row
      .col-md-7.col-sm-6
        =raw @contact.first.text
        
      / /.col-md-7
      .col-md-5.col-sm-6
        .contact-form
          = render 'shared/msg_form'
        / /.contact-form
      / /.col-md-5
    / /.row
  / /.container
/ /#contact
