#services.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 خدمات
        %p لیست تعاونیهای تحت پوشش
      / /.heading-section
    / /.row
    .row
      .col-md-3.col-sm-6
        #service-1.service-item{:style => "height:300px"}
          %h2{:style => "padding-top:2%; font-size:20px; color:#fff"}
            پیوندهای مرتبط
          
          .service-icon
            = image_tag 'link.png', :class => "set-center"
          / /.service-icon
          .service-content{:style => "overflow-y: scroll;height: 300px"}
            .inner-service
              - Link.all.each do  |link|
                %p
                  = link_to link.title, url_with_protocol(link.web_site), :target => "_blank"
              
          / /.service-content
        / /#service-1
      / /.col-md-3
      .col-md-3.col-sm-6
        #service-2.service-item{:style => "height:300px"}
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            تعاونیهای تحت پوشش
          
          .service-icon
            = image_tag 'colab.png', :class => "set-center"
          / /.service-icon
          .service-content{:style => "overflow-y: scroll;height: 300px;"}
            .inner-service
              - Cooperative.all.each do  |cooperative|
                %p
                  = link_to cooperative.name, cooperative
          / /.service-content
        / /#service-1
      / /.col-md-3
      .col-md-3.col-sm-6
        #service-3.service-item{:style => "height:300px"}
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            ابلاغیه ها
          .service-icon
            = image_tag 'new.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              
          / /.service-content
        / /#service-1
      / /.col-md-3
      .col-md-3.col-sm-6
        #service-4.service-item{:style => "height:300px"}
          %h2{:style => "padding:5%; font-size:20px; color:#fff; "}
            پرسش و پاسخ
          .service-icon
            = image_tag 'question.png', :class => "set-center"
          / /.service-icon
          .service-content
            .inner-service
              
          / /.service-content
        / /#service-1
      / /.col-md-3
    / /.row
  / /.container
/ /#services


#portfolio.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 پروژه ها
        %p لیست پروژه ها
      / /.heading-section
    / /.row
    .row
      - Project.all.each do |project|
        = link_to  project  do 
          .portfolio-item.col-md-3.col-sm-6{:style => "height:300px; overflow:hidden"}
            .portfolio-thumb
              = image_tag project.pictures.first.image(:small), :height => "300"
              .portfolio-overlay
                %h3= project.title
                %p
                  = project.address                
                  %br
                  = project.description               
                  %br
                  - if project.Status
                    تحویل داده شده
                  -else
                    در دست احداث
                    
                                   
                
              / /.portfolio-overlay
            / /.portfolio-thumb
          / /.portfolio-item
          
      
      
    / /.row
  / /.container
/ /#portfolio




#our-team.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 مدیران
        %p لیست مدیران هیئت مدیره
      / /.heading-section
    / /.row
    .row
      - Management.all.each do  |management|
        .team-member.col-md-3.col-sm-6
          .member-thumb
            - if management.image.present?
              = image_tag management.image(:small)            
            - else
              = image_tag 'unknown.png'
            .team-overlay
              %h3= management.name + " " + management.last_name
              %span= management.post
              %p= management.Work_Experience
            / /.team-overlay
          / /.member-thumb
        / /.team-member      
    / /.row
    .row
      .col-md-12.text-center
        .skills-heading
          %h3.skills-title Our skills on web design
          %p.small-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      / /.col-md-12
    / /.row
    .row
      .col-md-8.col-sm-6
        = @about.first.text
          
      / /.col-md-8
      .col-md-4.col-sm-6
        %ul.progess-bars
          %li
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", role: "progressbar", style: "width: 90%;"} Photoshop 90%
          %li
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", role: "progressbar", style: "width: 75%;"} HTML 75%
          %li
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "68", role: "progressbar", style: "width: 68%;"} WordPress 68%
          %li
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", role: "progressbar", style: "width: 95%;"} Marketing 95%
      / /.col-md-4
    / /.row
  / /.container
/ /#our-team


#contact.content-section
  .container
    .row
      .heading-section.col-md-12.text-center
        %h2 ارتباط با ما
        %p ارسال پیام به مدیر سایت
      / /.heading-section
    / /.row
    .row
      .col-md-12
        .googlemap-wrapper
          #map_canvas.map-canvas
        / /.googlemap-wrapper
      / /.col-md-12
    / /.row
    .row
      .col-md-7.col-sm-6
        %p= @contact.first.text
        
      / /.col-md-7
      .col-md-5.col-sm-6
        .contact-form
          = render 'shared/msg_form'
        / /.contact-form
      / /.col-md-5
    / /.row
  / /.container
/ /#contact
