#middlerightPan
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %h2= "ورود اعضا"
    
    = f.label "ایمیل"
    = f.email_field :email, :autofocus => true, :id => "Yourname"
    
    = f.label "رمز عبور"    
    = f.password_field :password, :id => "Emailid"
    
    - if devise_mapping.rememberable?
      %div
        .col-lg-2
          = f.check_box :remember_me
        .col-lg-4
          = f.label "مرا به خاطر بسپار"
    .clear-float
    = f.submit "ورود", :class => "button"
  = render "devise/shared/links"  
  %p.online
    %a{href: "#"}
      24x7 hours
      online support
