%h2 ورود به سایت
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label "ایمیل"
    %br/
    = f.email_field :email, :autofocus => true
  %div
    = f.label "کلمه عبور"
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label "مرا به خاطر بسپار"
  %div= f.submit "ورود"
= render "devise/shared/links"
