= form_for @pdf_form do |f|
  - if @pdf_form.errors.any?
    .alert.alert-warning      
      %ul
        - @pdf_form.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label 'عنوان فرم', :class => "control-label" 
    = f.text_field :title, :class => "form-control"
    
  .form-group
    - if @pdf_form.pdf.present?
      = image_tag 'get-pdf.png'
      %b=  @pdf_form.pdf_file_name
  .form-group
    = f.label 'اگر فرمت فرم فایل PDF است از این کادر فایل را انتخاب کنید.', :class => "control-label"    
    = f.file_field :pdf
  .form-group
    - if @pdf_form.image.present?
      = image_tag @pdf_form.image(:small)
      %b=  @pdf_form.image_file_name
      
  .form-group
    = f.label 'اگر فرم بصورت عکس است از این کادر عکس را ضمیمه کنید', :class => "control-label"    
    = f.file_field :image
  .form-group
    = f.label 'توضیحات', :class => "control-label"    
    = f.text_area :description, :class => "form-control", :style => "resize:none"
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
