= form_for @member_post do |f|
  - if @member_post.errors.any?
    #error_explanation
      
      %ul
        - @member_post.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label ' عنوان برای سمت اعضای تعاونیها'
    = f.text_field :title
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
