
= form_for @cooperative do |f|
  - if @cooperative.errors.any?
    .alert.alert-warning      
      %ul          
        - @cooperative.errors.each do |attr, msg|
          %li= msg
  .form-group
    = f.label "ایمیل تعاونی*", :class => "control-label"
    = f.text_field :email_company, :class => "form-control"
  .form-group
    = f.label "عنوان تعاونی", :class => "control-label"
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label "نام مدیرعامل", :class => "control-label"
    = f.text_field :managment_name, :class => "form-control"
  .form-group
    = f.label "رئیس هیئت مدیره", :class => "control-label"
    = f.text_field :board_Chairman_name, :class => "form-control"
  .form-group
    = f.label "نشانی", :class => "control-label"
    = f.text_area :address, :class => "form-control"
  .form-group
    = f.label "تلفن", :class => "control-label"
    = f.text_field :phone, :class => "form-control"
  .form-group
    = f.label "وب سایت", :class => "control-label"
    = f.text_field :website, :class => "form-control"
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
