#tbox2
  .title
    %h2 لیست تعاونیهای تحت پوشش
        
  %div
  - @cooperatives.each_with_index do |cooperative, i|
    .projects-holder
      .col-lg-12{:style => "height:30px; padding:5px; font-weight:bold"}
        .col-lg-4          
          = cooperative.name
        -if is_admin?
          .col-lg-4      
            = link_to 'ویرایش', edit_cooperative_path(cooperative)
            = link_to 'حذف', cooperative, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  
      .col-lg-12
        .col-lg-2
          %b= 'مدیرعامل'
        = cooperative.managment_name
      .col-lg-12
        .col-lg-2
          %b= 'رییس هئیت مدیره'
        = cooperative.board_Chairman_name
      .col-lg-12
        .col-lg-2
          %b= 'آدرس'
        = cooperative.address
      .col-lg-12
        .col-lg-2
          %b= 'تلفن تماس'
        = cooperative.phone
      .col-lg-12
        .col-lg-2
          %b= 'وب سایت'
        = cooperative.website      

      

  %br

  = link_to 'ثبت تعاونی جدید', new_cooperative_path, :class => "button btn-sm"
