.width80.set-center.margin-top
  .tbox2
    .title
      %h1 لیست تعاونیهای تحت پوشش
      = link_to '', '#', :name => "top"
      - if is_admin?
        = link_to 'ثبت تعاونی جدید', new_cooperative_path, :class => "save-btn"

    %div
      - @cooperatives.each_with_index do |cooperative, i|
        .cooperative-index.col-lg-12   
          .col-lg-6 
            - cooperative.members.where.not(member_post_id:1).each do |member|
              .col-lg-3
                = image_tag member.image(:icon)
                %b= member.name + " " + member.last_name
                %p= member.member_post.title
          .col-lg-6 
            .cooperative-title
              %b.col-lg-12= cooperative.name
              
            .col-lg-12            
              %b= 'ایمیل تعاونی:'
              = cooperative.email_company          
              
            .col-lg-12            
              %b= 'مدیرعامل:'
              = cooperative.managment_name
              
            .col-lg-12            
              %b= 'رییس هئیت مدیره:'
              = cooperative.board_Chairman_name
            .col-lg-12            
              %b= 'آدرس'
              = cooperative.address
            .col-lg-12            
              %b= 'تلفن تماس:'
              = cooperative.phone
            .col-lg-12            
              %b= 'فاکس:'
              = cooperative.fax
            .col-lg-12            
              %b= 'وب سایت:'
              =link_to cooperative.website, url_with_protocol(cooperative.website)
          .clear-float
        -if is_admin? || is_user?              
          .col-lg-6 
            = link_to 'مشاهده', cooperative
            \|
            = link_to 'ویرایش', edit_cooperative_path(cooperative)
            \|
            = link_to 'حذف', cooperative, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  
          
            = link_to 'معرفی عضو جدید', new_member_path(cooperative_id: cooperative.id), :class => "save-btn"
            = link_to 'مشاهده تمام اعضا', members_path(cooperative_id: cooperative.id), :class => "save-btn"
          
          
    %br
  
:javascript   
  
  $(':submit#search-submit').click(function(e) {
    $(':text#search_field').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });   
