.width80.set-center.margin-top
  .tbox2
    .title
      %h1 لیست تعاونیهای تحت پوشش
      = link_to '', '#', :name => "top"
      - if is_admin?
        = link_to 'ثبت تعاونی جدید', new_cooperative_path, :class => "save-btn"

    %div
      - @cooperatives.each_with_index do |cooperative, i|
        .cooperative-index.col-lg-12    
          .cooperative-title
            %b.col-lg-12= cooperative.name
            -if is_admin? || is_user?
              
              .col-lg-4 
                = link_to 'مشاهده', cooperative
                \|
                = link_to 'ویرایش', edit_cooperative_path(cooperative)
                \|
                = link_to 'حذف', cooperative, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  
              
                = link_to 'معرفی عضو جدید', new_member_path(cooperative_id: cooperative.id), :class => "save-btn"
          .col-lg-12            
            %b= 'ایمیل تعاونی:'
            = cooperative.email_company          
            
          .col-lg-12            
            %b= 'مدیرعامل:'
            = cooperative.managment_name
            
          .col-lg-12            
            %b= 'رییس هئیت مدیره:'
            = cooperative.board_Chairman_name
          .col-lg-12            
            %b= 'آدرس'
            = cooperative.address
          .col-lg-12            
            %b= 'تلفن تماس:'
            = cooperative.phone
          .col-lg-12            
            %b= 'وب سایت:'
            =link_to cooperative.website, url_with_protocol(cooperative.website)
          .clear-float
        -if is_admin? || is_user?
          .col-lg-12
            %table.table
              %thead
                %tr
                  %th نام و نام خانوادگی
                  %th تلفن های تماس
                  %th سمت
                  %th عملیات
              %tbody
                - cooperative.members.each do |member|
                  %tr
                    %td= member.name + " " + member.last_name
                    %td= member.phone_number + " - " + member.mobile
                    %td= member.member_post_id
                    %td
                      = link_to 'مشاهده', member
                      \|
                      = link_to 'ویرایش', edit_member_path(member)
                      \|
                      = link_to 'حذف', member, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  
                  
    %br
   
