.width80.set-center.margin-top
  .tbox2
    .title
      %h1 لیست تعاونیهای تحت پوشش
          
    %div
      - @cooperatives.each_with_index do |cooperative, i|
        .cooperative-index.col-lg-5    
          .cooperative-title
            .col-lg-12= cooperative.name
            -if is_admin?
              .col-lg-4      
                = link_to 'ویرایش', edit_cooperative_path(cooperative)
                = link_to 'حذف', cooperative, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  
          .col-lg-12            
            %b= 'مدیرعامل'
            = cooperative.managment_name
          .col-lg-12            
            %b= 'رییس هئیت مدیره'
            = cooperative.board_Chairman_name
          .col-lg-12            
            %b= 'آدرس'
            = cooperative.address
          .col-lg-12            
            %b= 'تلفن تماس'
            = cooperative.phone
          .col-lg-12            
            %b= 'وب سایت'
            = cooperative.website      
          .clear-float
          
          
    %br
    - if is_admin?
      = link_to 'ثبت تعاونی جدید', new_cooperative_path, :class => "button btn-sm"
