#tbox2
  .title
    %h2 لیست تعاونیهای تحت پوشش

  %table.table.table-striped.table-hover 
    %thead
      %tr
        %th ردیف
        %th عنوان تعاونی
        %th نام مدیرعامل
        %th رئیس هیئت مدیره
        %th نشانی
        %th تلفن
        %th وب سایت
        %th عملیات
        
    %tbody
      - @cooperatives.each_with_index do |cooperative, i|
        %tr
          %td= (i+1)
          %td= cooperative.name
          %td= cooperative.managment_name
          %td= cooperative.board_Chairman_name
          %td= cooperative.address
          %td= cooperative.phone
          %td= cooperative.website      
          %td 
            = link_to 'ویرایش', edit_cooperative_path(cooperative)
            = link_to 'حذف', cooperative, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  %br

  = link_to 'ثبت تعاونی جدید', new_cooperative_path, :class => "button btn-sm"
