%h1 Listing cooperatives

%table
  %tr
    %th Name
    %th Managment name
    %th Board chairman name
    %th Address
    %th Phone
    %th Website
    %th
    %th
    %th

  - @cooperatives.each do |cooperative|
    %tr
      %td= cooperative.name
      %td= cooperative.managment_name
      %td= cooperative.board_Chairman_name
      %td= cooperative.address
      %td= cooperative.phone
      %td= cooperative.website
      %td= link_to 'Show', cooperative
      %td= link_to 'Edit', edit_cooperative_path(cooperative)
      %td= link_to 'Destroy', cooperative, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cooperative', new_cooperative_path
