%p#notice= notice

%p
  %b Name:
  = @cooperative.name
%p
  %b Managment name:
  = @cooperative.managment_name
%p
  %b Board chairman name:
  = @cooperative.board_Chairman_name
%p
  %b Address:
  = @cooperative.address
%p
  %b Phone:
  = @cooperative.phone
%p
  %b Website:
  = @cooperative.website

= link_to 'Edit', edit_cooperative_path(@cooperative)
\|
= link_to 'Back', cooperatives_path
