.page-header
  .row
    %h2= "اطلاعات تعاونیها"
-if notice
  .alert.alert-dismissable.alert-success
    %p#notice= notice
.container    
  .col-lg-4
    %p
      %b عنوان تعاونی
      = @cooperative.name
    %p
      %b مدیرعامل
      = @cooperative.managment_name
    %p
      %b رئیس هیئت مدیره
      = @cooperative.board_Chairman_name
    %p
      %b نشانی
      = @cooperative.address
    %p
      %b تلفن
      = @cooperative.phone
    %p
      %b وب سایت
      = @cooperative.website
%br        
.well.footer
  = link_to 'ویرایش', edit_cooperative_path(@cooperative)
  \|
  = link_to 'بازگشت', cooperatives_path
