.width80.set-center.margin-top
  
  .tbox2.well
    .title
      %b عنوان مقاله
      %h1= @education.title
    %p
      -if @education.pdf.url.present?
        .pdf-link.col-sm-5
          =link_to @education.pdf.url, :target => "blank" do            
            %i= 'دریافت فایل آموزش'
            = image_tag 'get-pdf.png' 
            %b= @education.pdf_file_name
    - if is_admin?
      = link_to 'ویرایش', edit_education_path(@education), :class => "btn btn-warning"
      \|
      = link_to 'بازگشت', educations_path
