!!! 5
%html
  %head
    %title
      اتحادیه مسکن فرهنگیان
      = ',' + Project.all.collect(&:title).join(",") #{@head.fetch(:title, '') if @head}
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "letter-print", media: "print"       
    = stylesheet_link_tag    "fonts", media: "print"   
    
    
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.PrintArea.js_4"
    = javascript_include_tag "core"
    -#
      http://www.google.com/mapmaker?gw=129&activity_src=2&activity_filter=0&activity_sort=0&ll=36.289434,59.545891&spn=0.00061,0.001058&z=20&vpid=1405513955844&lyt=large_map_v3&htll=36.289379,59.545716
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => Project.all.collect(&:title).join(",") } 
    %meta{:name => "description", :content => "اتحادیه مسکن فرهنگیان"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    

  %body  
      
    #sTop.site-main
      .site-header
        .container
          .row
            .col-md-12.text-center
              
            / /.col-md-12
          / /.row
        / /.container
        .main-header{:class => ('top94' if current_page?(root_path))}
          .container
            #menu-wrapper
              .row
                .logo-wrapper.col-md-5
                  %h4
                    = link_to 'اتحادیه تعاونیهای مسکن فرهنگیان استان خراسان', root_path
                  
                / /.logo-wrapper
                .col-md-7.main-menu.text-right
                  = render 'shared/nav_bar'                
                      
                  %a.toggle-menu.visible-sm.visible-xs{href: "#"}
                    %i.fa.fa-bars
                / /.main-menu
              / /.row
              
            / /#menu-wrapper
            -if is_admin?
              .col-md-5.admin-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی مدیرسایت'
                  %b.notif= Complaint.where("display is null").count
                .admin-menu-links
                  = render 'shared/admin_menu'
                  
            - if is_inspector?
              .col-md-3.inspector-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی داور'
                  %b.notif= Complaint.where("inspector_visited is null").count
                .admin-menu-links
                
                  = render 'shared/inspector_menu'
                  = link_to "خروج", destroy_user_session_path, :method => :delete
            - if is_user?
              .col-md-3.cooperative-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی تعاونیهای عضو'                  
                .admin-menu-links                  
                  = render 'shared/cooperative_menu'
                  = link_to "خروج", destroy_user_session_path, :method => :delete
            
                    
            
      .site-slider
        .slider
          = render 'slides/slide_show'
        .login-box
          - if current_user.blank?            
            - if current_page?(root_path)
              .signin
                %b{:style => "color:#fff"}= 'ورود به سایت'
                = render "shared/login"
          - if current_page?(root_path)
            .signin
              %b{:style => "color:#fff"}= 'پیگیری ثبت نام'
              = render "pay_limits/search_by_code"
              %p.search-by-email
                %i= 'اگر کدرهگیری خود را فراموش کرده اید '
                = link_to 'اینجا', search_pay_limits_path
                %i= 'کلیک کنید.'
            .clear-float  
                
        / /.slider
    .clear-float 
    
    = yield 
    .clear-float   
    #footer
      .container
        .row
          .col-md-8.col-xs-12.text-left
            Copyright © 2016 Etehadiye Maskane Farhangiyan   -
            = link_to 'Developed', '#', rel: "nofollow"
            
            by
            = link_to 'Raush.net', url_with_protocol('Raush.net'), rel: "nofollow", :target => "_blank"
            
          / /.text-center
          .col-md-4.hidden-xs.text-right
            %a#go-top{href: "#top"} رفتن به بالای صفحه
          / /.text-center
        / /.row
      / /.container
    / /#footer
          
