!!! 5
%html
  %head
    %title
      اتحادیه مسکن فرهنگیان
      = ',' + Project.all.collect(&:title).join(",") #{@head.fetch(:title, '') if @head}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => Project.all.collect(&:title).join(",") } 
    %meta{:name => "description", :content => "اتحادیه مسکن فرهنگیان"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    -#
      :javascript
        <!--
        //Disable right click script
        //visit http://www.rainbow.arch.scriptmania.com/scripts/
        var message="Sorry, right-click has been disabled";
        ///////////////////////////////////
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2||e.which==3) {(message);return false;}}}
        if (document.layers)
        {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
        else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
        document.oncontextmenu=new Function("return false")
        // -->

  %body  
      
    #sTop.site-main
      .site-header
        .container
          .row
            .col-md-12.text-center
              
            / /.col-md-12
          / /.row
        / /.container
        .main-header{:class => ('top94' if current_page?(root_path))}
          .container
            #menu-wrapper
              .row
                .logo-wrapper.col-md-5
                  %h4
                    = link_to 'اتحادیه تعاونیهای مسکن فرهنگیان استان خراسان', root_path
                  
                / /.logo-wrapper
                .col-md-7.main-menu.text-right
                  = render 'shared/nav_bar'                
                      
                  %a.toggle-menu.visible-sm.visible-xs{href: "#"}
                    %i.fa.fa-bars
                / /.main-menu
              / /.row
              
            / /#menu-wrapper
            -if is_admin?
              .col-md-5.admin-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی مدیرسایت'
                  %b.notif= Complaint.where("display is null").count
                .admin-menu-links
                  = render 'shared/admin_menu'
                  
            - if is_inspector?
              .col-md-3.inspector-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی داور'
                  %b.notif= Complaint.where("inspector_visited is null").count
                .admin-menu-links
                
                  = render 'shared/inspector_menu'
                  = link_to "خروج", destroy_user_session_path, :method => :delete
            - if is_user?
              .col-md-3.cooperative-menu.login-menu
                %h2
                  %p.width50.pull-right= 'منوی تعاونیهای عضو'                  
                .admin-menu-links                  
                  = render 'shared/cooperative_menu'
                  = link_to "خروج", destroy_user_session_path, :method => :delete
            
                    
            
      .site-slider
        .slider
          = render 'slides/slide_show'
        .login-box
          - if current_user.blank?            
            .signin{:style => "text-align:center;"} 
              %b{:style => "color:#fff"}= 'ورود به سایت'
              = render "shared/login"
            
                
        / /.slider
    .clear-float 
    
    = yield 
    .clear-float   
    #footer
      .container
        .row
          .col-md-8.col-xs-12.text-left
            Copyright © 2016 etehadiye Maskane farhangiyan   -
            = link_to 'Develop', '#', rel: "nofollow"
            
            by
            = link_to 'Raush.net', '#', rel: "nofollow"
            
          / /.text-center
          .col-md-4.hidden-xs.text-right
            %a#go-top{href: "#top"} Back to top
          / /.text-center
        / /.row
      / /.container
    / /#footer
          
