!!! 5
%html
  %head
    %title
      اتحادیه مسکن فرهنگیان
      = ',' + Project.all.collect(&:title).join(",") #{@head.fetch(:title, '') if @head}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => Project.all.collect(&:title).join(",") } 
    %meta{:name => "description", :content => "اتحادیه مسکن فرهنگیان"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    -#
      :javascript
        <!--
        //Disable right click script
        //visit http://www.rainbow.arch.scriptmania.com/scripts/
        var message="Sorry, right-click has been disabled";
        ///////////////////////////////////
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2||e.which==3) {(message);return false;}}}
        if (document.layers)
        {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
        else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
        document.oncontextmenu=new Function("return false")
        // -->

  %body  
      
    #sTop.site-main
      .site-header
        .container
          .row
            .col-md-12.text-center
              %h1= 'اتحادیه تعاونیهای مسکن فرهنگیان خراسان رضوی'
            / /.col-md-12
          / /.row
        / /.container
        .main-header
          .container
            #menu-wrapper
              .row
                .logo-wrapper.col-md-6.col-sm-2.col-xs-8
                  %h4
                    = link_to 'اتحادیه تعاونیهای مسکن فرهنگیان خراسان رضوی', '#'
                  
                / /.logo-wrapper
                .col-md-6.col-sm-10.col-xs-4.main-menu.text-right
                  %ul.menu-first.hidden-sm.hidden-xs
                    %li.active
                      = link_to 'صفحه اصلی' , '#'
                    %li
                      = link_to 'تعاونیها' , '#services'                      
                    %li
                      = link_to 'پروژه ها' , '#portfolio'                     
                    %li
                      = link_to 'مدیران' , '#our-team'                            
                    %li
                      = link_to 'ارتباط با ما' , '#contact'                            
                      
                  %a.toggle-menu.visible-sm.visible-xs{href: "#"}
                    %i.fa.fa-bars
                / /.main-menu
              / /.row
            / /#menu-wrapper
            .menu-responsive.hidden-md.hidden-lg
              %ul
                %li.active
                  %a{href: "#"} Home
                %li
                  %a{href: "#services"} Services
                %li
                  %a{href: "#portfolio"} Portfolio
                %li
                  %a{href: "#our-team"} Team
                %li
                  %a{href: "#contact"} Contact
            / /.menu-responsive
      .site-slider
        .slider
          .flexslider
            %ul.slides
              %li
                .overlay
                = image_tag 'slide1.jpg'
                .slider-caption.visible-md.visible-lg
                  %h2 Digital Studio
                  %p Let us design your website
                  %a.slider-btn{href: "#"} Responsive Template
              %li
                .overlay
                = image_tag 'slide2.jpg'
                .slider-caption.visible-md.visible-lg
                  %h2 Responsive Template
                  %p Download and use it for your website
                  %a.slider-btn{href: "#"} Go to Portfolio
              %li
                .overlay
                = image_tag 'slide3.jpg'
                .slider-caption.visible-md.visible-lg
                  %h2 Professional Quality
                  %p New standard of web design and coding
                  %a.slider-btn{href: "#"} Mobile Website
          / /.flexslider
        / /.slider
    -#
      .wrapper
        #three-column.container.set-center  
          #tbox1
            .title 
              -if is_admin?
                = render "shared/admin_menu"
                = link_to "خروج", destroy_user_session_path, :method => :delete
              -elsif is_inspector?
                = render "shared/inspector_menu"
                = link_to "خروج", destroy_user_session_path, :method => :delete
              -elsif is_user?
                = render "shared/user_menu"
                = link_to "خروج", destroy_user_session_path, :method => :delete            
              -else          
                = render "devise/sessions/new", :resource => resource

          %hr
          .title
            %h2= 'پروژه ها'
            - Project.all.each do |project|
              = link_to project.title, project
              %hr
    = yield 
    .clear-float   
    #footer
      .container
        .row
          .col-md-8.col-xs-12.text-left
            Copyright © 2084 Company Name -
            %a{href: "http://www.templatemo.com/page/1", rel: "nofollow"} Responsive Template
            by
            %a{href: "http://www.templatemo.com/preview/templatemo_406_flex", rel: "nofollow"} Flex
          / /.text-center
          .col-md-4.hidden-xs.text-right
            %a#go-top{href: "#top"} Back to top
          / /.text-center
        / /.row
      / /.container
    / /#footer
        
