= form_for @member do |f|
  - if @member.errors.any?
    .alert.alert-warning 
      %ul
        - @member.errors.each do |attr, msg|
          %li= msg

  .form-group.col-sm-4
    = f.label 'نام:', :class => "control-label"
    = f.text_field :name
  .form-group.col-sm-4
    = f.label 'نام خانوادگی:', :class => "control-label"
    = f.text_field :last_name
  .form-group.col-sm-4
    = f.label 'نام پدر:', :class => "control-label"
    = f.text_field :father_name
  .form-group.col-sm-4
    = f.label 'تاریخ تولد دقیق:', :class => "control-label"
    = f.text_field :birthdate
  .form-group.col-sm-4
    = f.label 'شماره کارت ملی:', :class => "control-label"
    = f.text_field :national_id_card
  .form-group.col-sm-4
    = f.label 'شماره شناسنامه:', :class => "control-label"
    = f.text_field :identify_number
  .form-group.col-sm-4
    = f.label 'ایمیل:', :class => "control-label"
    = f.email_field :email
  .form-group.col-sm-4
    = f.label 'تلفن ثابت:', :class => "control-label"
    = f.text_field :phone_number
  .form-group.col-sm-4
    = f.label 'تلفن همراه:', :class => "control-label"
    = f.text_field :mobile 
  .form-group.col-sm-4
    = f.label 'کدپستی:', :class => "control-label"    
    = f.text_field :postal_code
  .form-group.col-sm-4
    = f.label 'سمت:', :class => "control-label"
    
    = f.select :member_post_id, options_for_select(MemberPost.all.collect{ |u| [u.title, u.id] }), prompt: "سمت و پست عضو را مشخص کنید."
  .form-group.col-sm-12
    = f.label 'ضمیمه عکس:', :class => "control-label"
    = f.file_field :image
  .form-group.col-sm-12
    = f.label 'آدرس:', :class => "control-label"
    = f.text_area :address, :style => "resize:none"
  .form-group.col-sm-4
    = f.label 'مبلغ واریزی عضو:', :class => "control-label"    
    = f.text_field :paid_member
  .form-group    
    = f.hidden_field :cooperative_id, :value => @cooperative_id
  .clear-float  
  - if @member.present? && @member.deactive.blank?
    .form-group
      = f.label 'درصورتی که عضو می خواهد انصراف دهد تیک مقابل را فعال کنید.', :class => "control-label"   
      = f.check_box :deactive
      
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
