.width80.set-center.margin-top
  .tbox2
    .title      
      %h1 لیست اعضا تعاونی
    - if is_admin? || is_user?
      = link_to 'معرفی عضو جدید', new_member_path(cooperative_id: current_user.cooperative_code), :class => "save-btn"
    .clear-float
    %br
    %table.table
      %tr
        %th ردیف
        %th نام و نام خانوادگی
        %th تلفن های تماس        
        %th نام پدر               
        %th سمت
        %th عملیات

      - @members.each_with_index do |member, i|
        %tr
          %td= (i+1)
          %td= link_to member.name + member.last_name , member
          %td= member.phone_number + "-" + member.mobile               
          %td= member.father_name          
          %td
            - if member.member_post_id.present?
              = member.member_post_id
            - else
              %i= 'عضو تعاونی'
          
          %td
            = link_to 'مشاهده', member
            = link_to 'ویرایش', edit_member_path(member)
            = link_to 'حذف', member, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

    %br

    
