= form_for @circular do |f|
  - if @circular.errors.any?
    #error_explanation
      
      %ul
        - @circular.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label "عنوان بخشنامه", :class => "control-label"    
    = f.text_field :title, :class => "text"
  .form-group
    = f.label "درصورتی که این بخشنامه به پروژه ای مربوط می باشد", :class => "control-label"    
    = f.select :project_id, options_for_select(Project.all.collect{ |u| [u.title, u.id] }), prompt: "پروژه مربوطه را انتخاب کنید"
  .form-group
    = f.label "توضیحات", :class => "control-label"    
    = f.text_area :description, :class => "text"
  .form-group
    = f.label "فایل متنی بخشنامه", :class => "control-label"    
    = f.file_field :pdf
  .form-group
    = f.submit 'ثبت', :class => "mainBtn"
  
