%h1 Listing managements

%table
  %tr
    %th Name
    %th Last name
    %th Post
    %th Work experience
    %th
    %th
    %th

  - @managements.each do |management|
    %tr
      %td= management.name
      %td= management.last_name
      %td= management.post
      %td= management.Work_Experience
      %td= link_to 'Show', management
      %td= link_to 'Edit', edit_management_path(management)
      %td= link_to 'Destroy', management, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Management', new_management_path
